# developer specific
feeds/
logs/
media/
data/
report/

# selenium
**/geckodriver.log
*.log

# project specific
README.md

# Docker
.dockerignore
Dockerfile

# Repository
.git
.gitignore
.gitmodules

# Pycharm
.idea

# python
**/__pycache__
*.pyc

